@mixin flex($direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

// Define breakpoints
$breakpoints: (
  phone: (
    min: 360px,
    max: 1047px,
  ),
);

// Mixin for responsive design with named breakpoints
@mixin responsive($breakpoint) {
  $min-width: map-get(map-get($breakpoints, $breakpoint), min);
  $max-width: map-get(map-get($breakpoints, $breakpoint), max);

  @media screen and (min-width: #{$min-width}) and (max-width: #{$max-width}) {
    @content;
  }
}
